{
    "semi": false,
    "singleQuote": true,
    "printWidth": 120,
    "importOrder": ["^(locales|apis|entities|theme|pages|components|assets|hooks|utils)/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}